.list-group-item {
  background: transparent;
  border-color: transparent;
  color: #fff;
  padding: 1.15rem 1.15rem 1.15rem 2rem;
}

.list-group-item mdb-icon {
  margin-right: 1rem;
}

.list-group-item:hover {
  background-color: #252a35;
}

.sidebar-fixed .logo-wrapper {
  width: 100%;
  padding: 0.5rem 1.6rem 1.6rem;
  font-size: 2rem;
  font-weight: lighter;
}

.sidebar-fixed .logo-wrapper img {
  max-height: 50px;
}

.k-dark-text {
  color: #1C2331;
}

.k-navigation-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}
