<app-auth-page [title]="title">
  <!-- Form -->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col">
    <!-- username -->
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" type="text" />
      <mat-error *ngIf="f['username'].hasError('required')">
        Username is required
      </mat-error>
      <mat-error *ngIf="f['username'].hasError('minlength')">
        Minimum length is 6
      </mat-error>
      <mat-error *ngIf="f['username'].hasError('maxlength')">
        Maximum length is 30
      </mat-error>
      <mat-error *ngIf="f['username'].hasError('pattern')">
        Must only be an alphanumeric, underscore (_), or dash (-)
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" />
      <mat-error *ngIf="f['password'].hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="f['password'].hasError('minlength')">
        Minimum length is 6
      </mat-error>
      <mat-error *ngIf="f['password'].hasError('maxlength')">
        Maximum length is 30
      </mat-error>
    </mat-form-field>

    <!-- Extra -->
    <div class="flex justify-between items-center">
      <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>
      <a href="" class="text-sm">Forgot password?</a>
    </div>

    <!-- Messages -->
    <app-error-messages
      [loading]="loading"
      [error_messages]="error_messages"
    ></app-error-messages>

    <!-- Login button -->
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="loading || loginForm.invalid"
    >
      Login
    </button>

    <!-- Register link -->
    <p class="pt-4 text-center">
      Not a member? <a routerLink="/register">Register</a>
    </p>
  </form>
  <!-- Form -->
</app-auth-page>
