<!-- Header -->
<mdb-card class="mt-5">

  <!--Card content-->
  <mdb-card-body class="d-sm-flex justify-content-between">
    <h4 class="mb-sm-0">
      <span>Overview</span>
    </h4>
  </mdb-card-body>

</mdb-card>

<!-- Gauges -->
<section class="mt-lg-5">

  <!--Grid row-->
  <div class="row">

    <!--Inventory size grid column-->
    <div class="col-xl-3 col-md-6 mb-r">

      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="chart-bar" class="blue-gradient"></mdb-icon>
          <div class="data">
            <p>INVENTORY SIZE</p>
            <h4><strong>{{ itemTotal }}</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>
          <div class="progress">
            <div class="progress-bar blue-gradient" role="progressbar" style="width: 25%" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <!--Text-->
          <p class="card-text">Better than last week (25%)</p>
        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Expired items grid column-->
    <div class="col-xl-3 col-md-6 mb-r">

      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="trash" class="ripe-malinka-gradient"></mdb-icon>
          <div class="data">
            <p>EXPIRED ITEMS</p>
            <h4><strong>{{ numberOfExpired }}</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>
          <div class="progress">
            <div class="progress-bar ripe-malinka-gradient" role="progressbar" style="width: 25%" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <!--Text-->
          <p class="card-text">Worse than last week (25%)</p>
        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Weekly spent grid column-->
    <div class="col-xl-3 col-md-6 mb-r">

      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="credit-card" class="blue-gradient"></mdb-icon>
          <div class="data">
            <p>WEEKLY $ SPENT</p>
            <h4><strong>N/A</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>
          <div class="progress">
            <div class="progress-bar blue-gradient" role="progressbar" style="width: 75%" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <!--Text-->
          <p class="card-text">Worse than last week (75%)</p>
        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Weekly removed grid column-->
    <div class="col-xl-3 col-md-6 mb-r">

      <!--Card-->
      <mdb-card cascade="true" class="cascading-admin-card">

        <!--Card Data-->
        <div class="admin-up">
          <mdb-icon fas icon="chart-line" class="ripe-malinka-gradient"></mdb-icon>
          <div class="data">
            <p>ITEMS REMOVED</p>
            <h4><strong>{{ quantityRemovedThisWeek() }}</strong></h4>
          </div>
        </div>
        <!--/.Card Data-->

        <!--Card content-->
        <mdb-card-body>
          <div class="progress">
            <div class="progress-bar ripe-malinka-gradient" role="progressbar" style="width: 25%" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <!--Text-->
          <p class="card-text">Better than last week (25%)</p>
        </mdb-card-body>
        <!--/.Card content-->

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>

<!-- Charts -->
<section class="mt-5">

  <!--Grid row-->
  <div class="row">

    <!--Bar chart grid column-->
    <div class="col-md-8 mb-r">

      <!--Card-->
      <mdb-card class="cascading-admin-card">

        <!--Card title-->
        <div class="admin-up">
          <div class="admin-title blue-gradient">
            <h4 class="my-1 text-white text-center">Inventory size</h4>
          </div>
        </div>
        <!--/.Card title-->

        <!--Card content-->
        <mdb-card-body color="primary">
          <div style="display: block">
            <canvas id="chart-line">{{ lineChart }}</canvas>
          </div>
        </mdb-card-body>

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

    <!--Doughnut chart grid column-->
    <div class="col-md-4 mb-r">

      <!--Card-->
      <mdb-card class="cascading-admin-card">

        <!--Card title-->
        <div class="admin-up">
          <div class="admin-title blue-gradient">
            <h4 class="my-1 text-white text-center">Item status</h4>
          </div>
        </div>
        <!--/.Card title-->

        <!--Card content-->
        <mdb-card-body>
          <div style="display: block;">
            <canvas id="chart-doughnut">{{ doughnutChart }}</canvas>
          </div>
        </mdb-card-body>

      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>

<!-- History -->
<section class="mt-5">

  <!--Grid row-->
  <div class="row">

    <!--History grid column-->
    <div class="col-md-12 mb-4">

      <mdb-card class="cascading-admin-card">

        <!--Card title-->
        <div class="admin-up">
          <div class="admin-title blue-gradient">
            <h4 class="my-1 text-white text-center">history</h4>
          </div>
        </div>
        <!--/.Card title-->

        <!--Card content-->
        <mdb-card-body>
          <table mdbTable>
            <thead>
              <tr>
                <th *ngFor="let head of displayedColumns" scope="col">{{ head }}</th>
              </tr>
            </thead>
            <tbody>
              <tr mdbTableCol *ngFor="let history of histories">
                <th scope="row">{{ history.id }}</th>
                <td>{{ history.method }}</td>
                <td>{{ history.target }}</td>
                <td>{{ history.quantity }}</td>
                <td>{{ history.addedDate | date }}</td>
                <td>{{ history.description }}</td>
              </tr>
            </tbody>
          </table>
        </mdb-card-body>

        <!--/.Card content-->
      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>