table {
    width: 100%;
    table-layout:fixed;
}

.k-actions-buttons * {
    margin: 0px;
}

.mat-column-select {
    width: 100px;
}

.mat-card-actions {
    margin: 0px;
    overflow: hidden;
}

.label {
  color: white;
  border-radius: 5px;
  padding: 3px;
  font-size: 10px;
}

.good {background-color: #4CAF50;} /* Green */
.warning {background-color: #ff9800;} /* Orange */
.expired {background-color: #f44336;} /* Red */