@import "./mixins";

.nav {
  z-index: 5;
  top: 0;
  position: fixed;
  width: 100vw;
  background-color: $color-primary;
}

.navbar {
  background-color: inherit;
  opacity: 0.95;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 1rem;

  @include tablet {
    gap: 2rem;
  }

  @include desktop {
    gap: 4rem;
  }

  &__btn {
    position: absolute;
    z-index: 1;
    right: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    display: inline-block;
    @include tablet {
      display: none;
    }

    &--icon {
      position: absolute;
      right: 0;
      top: 0.5rem;
      width: 28px;
      height: 3px;
      background-color: $color-white;

      &::before {
        content: "";
        position: absolute;
        top: -8px;
        width: 28px;
        height: 3px;
        background-color: $color-white;
      }

      &::after {
        content: "";
        position: absolute;
        top: 8px;
        width: 28px;
        height: 3px;
        background-color: $color-white;
      }

      &.open {
        transform: rotate(720deg);
        background: transparent;

        &::before {
          transform: rotate(45deg) translate(5px, 8px);
        }

        &::after {
          transform: rotate(-45deg) translate(3px, -7px);
        }
      }
    }
  }

  &__logo {
    &--image {
      max-height: 1.5rem;
    }
  }

  &__menu-container {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    transform: translateY(-100%);
    height: 100vh;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    flex-grow: 1;

    @include tablet {
      position: relative;
      height: 100%;
      visibility: visible;
      flex-direction: row;
      transform: translateY(0);
      gap: 2rem;
      justify-content: space-between;
    }

    &.open {
      width: 100vw;
      transition: 0.5s;
      visibility: visible;
      transform: translateY(0);
    }
  }
  &__menu {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    list-style-type: none;
    gap: 3rem;

    @include tablet {
      padding: 0;
      width: initial;
      position: relative;
      height: 100%;
      visibility: visible;
      flex-direction: row;
      transform: translateY(0);
      gap: 2rem;
    }
    &--item {
    }

    &--icon-container {
      display: none;
      @include desktop {
        display: list-item;
      }
    }

    &--link {
      display: inline-block;
      text-decoration: none;
      color: darken(white, 25%);
      font-size: 1.75rem;

      @include tablet {
        font-size: 1rem;
      }
    }

    &__btn {
      width: 100%;

      &--white {
        color: black;
        background-color: $color-white;
        border: 1px solid #1d2124;
        text-align: center;
        padding: 1rem;
        width: 100%;
        border-radius: 1rem;
        @include tablet {
          padding: 0.5rem 2rem;
        }
      }
      &--grey {
        color: $color-white;
        background-color: #343a40;
        border: 1px solid #1d2124;
        text-align: center;
        padding: 1rem;
        width: 100%;
        border-radius: 1rem;
        @include tablet {
          padding: 0.5rem 2rem;
        }
      }
    }
  }
}
