$level-1: 1.5rem;
$level-2: 3rem;
$level-3: 6rem;

.g {
  &-1 {
    gap: $level-1;
  }
  &-2 {
    gap: $level-2;
  }
  &-3 {
    gap: $level-3;
  }
}

.p {
  &-1 {
    padding: 1rem;
  }
  &-2 {
    padding: $level-2;
  }
  &-3 {
    padding: $level-3;
  }
  &t {
    &-1 {
      padding-top: $level-1;
    }
    &-2 {
      padding-top: $level-2;
    }
    &-3 {
      padding-top: $level-3;
    }
  }
  &b {
    &-1 {
      padding-bottom: $level-1;
    }
    &-2 {
      padding-bottom: $level-2;
    }
    &-3 {
      padding-bottom: $level-3;
    }
  }
  &y {
    &-1 {
      padding-top: $level-1;
      padding-bottom: $level-1;
    }
    &-2 {
      padding-top: $level-2;
      padding-bottom: $level-2;
    }
    &-3 {
      padding-top: $level-3;
      padding-bottom: $level-3;
    }
  }
}

.m {
  &t {
    &-1 {
      margin-top: $level-1;
    }
    &-2 {
      margin-top: $level-2;
    }
  }
  &b {
    &-1 {
      margin-bottom: $level-1;
    }
    &-2 {
      margin-bottom: $level-2;
    }
    &-3 {
      margin-bottom: $level-3;
    }
  }
  &e {
    &-1 {
      margin-right: $level-1;
    }
  }

  &y {
    &-1 {
      margin-top: $level-1;
      margin-bottom: $level-1;
    }
    &-2 {
      margin-top: $level-2;
      margin-bottom: $level-2;
    }
    &-3 {
      margin-top: $level-3;
      margin-bottom: $level-3;
    }
  }
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
