@import "./mixins";
@import "./variables";

.header-1 {
  font-size: 3.25rem;
  @include tablet {
    font-size: 4.25rem;
  }
}

.header-2 {
  font-size: 2.25rem;
  @include tablet {
    font-size: 3.25rem;
  }
}

.header-3 {
  font-weight: 400;
  font-size: 1.25rem;
  @include tablet {
    font-size: 2.25rem;
  }
}

.sub-header-1 {
  background: linear-gradient(40deg, $color-skyblue, $color-navyblue);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.25rem;
  @include tablet {
    font-size: 2.25rem;
  }
}

.lead {
  font-size: 1.25rem;
  @include tablet {
    font-size: 1.75rem;
  }
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.text-white {
  color: $color-white;
}

.text-grey {
  color: grey;
}

.text-primary {
  color: $color-primary;
}

.text-feature {
  text-transform: uppercase;
  font-size: 1.25rem;
}
