.k-overview-column-25 {
    float: left;
    width: 25%;
}

.k-overview-column-50 {
    float: left;
    width: 50%;
}

.k-overview-card {
    margin: 10px;
    text-align: center;
}

.k-overview-value {
    font-size: 20px;
    font-weight: bold;
    display: block;
}