<div class="k-grid k-grid-4">
  <mat-card class="k-card k-text-center">
    <span class="k-card-title">{{ inventory.length }}</span>
    <span>Total inventory size</span>
  </mat-card>
  <mat-card class="k-card k-text-center">
    <span class="k-card-title">{{ numberOfExpired }}</span>
    <span>Expired items</span>
  </mat-card>
  <mat-card class="k-card k-text-center">
    <span class="k-card-title">{{ 100 | currency }}</span>
    <span>Weekly $ spent</span>
  </mat-card>
  <mat-card class="k-card k-text-center">
    <span class="k-card-title">N/A</span>
    <span>Weekly items removed</span>
  </mat-card>

  <div class="k-grid-column-2">
    <mat-card class="k-card">
      <div class="canvas-container">
        <canvas id="chart-line">{{ lineChart }}</canvas>
      </div>
    </mat-card>
  </div>
  <div class="k-grid-column-2">
    <mat-card class="k-card">
      <div class="canvas-container">
        <canvas id="chart-doughnut">{{ doughnutChart }}</canvas>
      </div>
    </mat-card>
  </div>
</div>