<!-- Form -->
<form class="mat-elevation-z2 p-5 k-center-isolated" [formGroup]="loginForm"
    (ngSubmit)="onSubmit(loginForm.value)">
    <img alt="kochii-logo" [src]="imgLogo" style="height: 64px; display:block; margin-right: auto; margin-left: auto;">
    <h4 class="my-4 text-center">Login</h4>

    <!-- Username -->
    <mat-form-field style="width: 100%;">
        <input matInput formControlName="username" type="text" placeholder="Username" />
        <mat-error *ngIf="f.username.errors">
            <div *ngIf="f.username.errors.required">Username is required</div>
            <div *ngIf="f.username.errors.minlength">Minimum length is 6</div>
            <div *ngIf="f.username.errors.maxlength">Maximum length is 30</div>
            <div *ngIf="f.username.errors.pattern">Must only be an alphanumeric, underscore (_), or dash (-)</div>
        </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field style="width: 100%;">
        <input matInput formControlName="password" type="password" placeholder="Password" />
        <mat-error *ngIf="f.password.errors">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Minimum length is 6</div>
            <div *ngIf="f.password.errors.maxlength">Maximum length is 30</div>
        </mat-error>
    </mat-form-field>

    <!-- Extra -->
    <div class="d-flex justify-content-between">
        <div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
            </div>
        </div>
        <div>
            <a href="">Forgot password?</a>
        </div>
    </div>

    <!-- Messages -->
    <div class="text-center pt-4">
        <p *ngIf="loading">Loading...</p>
        <p *ngIf="error.login" class="text-danger">{{ error.login }}</p>
    </div>

    <!-- Login button -->
    <button mat-raised-button type="submit" class="btn-block my-4 k-button-primary">Login</button>

    <!-- Register link -->
    <div class="text-center">
        <p>Not a member? <a routerLink="/register">Register</a></p>
    </div>
</form>
<!-- Form -->

<!--Footer-->
<kochii-footer></kochii-footer>
<!--/Footer-->