<!--Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar unique-color-dark">
    <div class="container">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="/"><img alt="kochii-banner" src="/assets/kochii-banner.png"></a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about-us">About Us</a>
                </li>
            </ul>
            <!-- Links -->

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="btn btn-sm btn-light" href="/register" style="border-radius: 10em;">Register</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-sm blue-gradient" href="/login" style="border-radius: 10em;">Login</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://twitter.com/KochiiApp/" class="nav-link" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/jeffreyrampineda/kochii" class="nav-link" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Collapsible content -->

    </div>
</nav>
<!--/.Navbar-->