<h3>{{ data.title }}</h3>
<div>
  <span>{{ data.description }}</span>
  <ul class="list-group list-group-flush mt-4">
    <li class="list-group-item" *ngFor="let item of data.items">
      ({{ item.quantity }}) {{ item.name }}
    </li>
  </ul>
  <!-- Messages -->
  <kochii-error-messages
    [error_messages]="error_messages"
    [loading]="loading"
  ></kochii-error-messages>
</div>
<div class="float-right mt-4">
  <button mat-button [disabled]="loading" (click)="onSubmit()">Save</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</div>
