<app-auth-page title="Sign Up">
  <!-- Form -->
  <form
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col"
  >
    <!-- username -->
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="username"
        type="text"
        placeholder="Username"
      />
      <mat-error *ngIf="f['username'].hasError('required')">
        Username is required
      </mat-error>
      <mat-error *ngIf="f['username'].hasError('minlength')">
        Minimum length is 6
      </mat-error>
      <mat-error *ngIf="f['username'].hasError('maxlength')">
        Maximum length is 30
      </mat-error>
      <mat-error *ngIf="f['username'].hasError('pattern')">
        Must only be an alphanumeric, underscore (_), or dash (-)
      </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Password"
      />
      <mat-error *ngIf="f['password'].hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="f['password'].hasError('minlength')">
        Minimum length is 6
      </mat-error>
      <mat-error *ngIf="f['password'].hasError('maxlength')">
        Maximum length is 30
      </mat-error>
    </mat-form-field>

    <!-- Password repeat -->
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="passwordre"
        type="password"
        placeholder="Re-enter Password"
      />
      <mat-error *ngIf="f['passwordre'].hasError('noMatch')">
        Passwords do not match
      </mat-error>
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="outline">
      <input matInput formControlName="email" type="text" placeholder="Email" />
      <mat-error *ngIf="f['email'].hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="f['email'].hasError('email')">
        Email is invalid
      </mat-error>
    </mat-form-field>

    <!-- firstName -->
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="firstName"
        type="text"
        placeholder="First Name"
      />
      <mat-error *ngIf="f['firstName'].hasError('maxlength')">
        Maximum length is 30
      </mat-error>
      <mat-error *ngIf="f['firstName'].hasError('pattern')">
        First name must only contain letters
      </mat-error>
    </mat-form-field>

    <!-- lastName -->
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="lastName"
        type="text"
        placeholder="Last Name"
      />
      <mat-error *ngIf="f['lastName'].hasError('maxlength')">
        Maximum length is 30
      </mat-error>
      <mat-error *ngIf="f['lastName'].hasError('pattern')">
        Last name must only contain letters
      </mat-error>
    </mat-form-field>

    <!-- Messages -->
    <app-error-messages
      [error_messages]="error_messages"
      [loading]="loading"
    ></app-error-messages>

    <!-- Sign Up button -->
    <button
      mat-raised-button
      color="primary"
      type="submit"
      class="btn-block my-4"
      [disabled]="loading || signupForm.invalid"
    >
      Sign Up
    </button>

    <!-- Login link -->
    <p class="pt-4 text-center">
      Already a member? <a routerLink="/login">Login</a>
    </p>
  </form>
  <!-- Form -->
</app-auth-page>
