/* You can add global styles to this file, and also import other style files */

/* Removes the dotted lines around button. Bootstrap causes this.*/
button:focus {
    outline:none !important;
}

table {
    width: 100%;
    table-layout:fixed;
}

.mat-card-actions {
    margin: 0px;
    overflow: hidden;
}

/* Used for item-add/inventory/recipes */
.k-actions-buttons {
    float: right;
}

.k-actions-buttons * {
    margin: 0px;
}

.k-search {
    float: left;
    width: 50%;
}
/* ----------------------------------- */

/* Used for home/dashboard */
.k-float-right {
    float: right;
}
/* ----------------------- */

.k-center-isolated {
    margin: auto;
    width: 30%;
    margin-top: 200px;
}

.k-text-center {
    text-align: center;
}