.k-grid {
    display: grid;
    grid-gap: 16px;
}

.k-grid-2 {
    grid-template-columns: 1fr 1fr;
  }

.k-grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.k-grid-column-2 {
    grid-column: span 2;
    width: 100%;
}