/* You can add global styles to this file, and also import other style files */

html {
    /* prevent scrollbar from repositioning the page */
    overflow-y: scroll;
}

/* Removes the dotted lines around button. Bootstrap causes this.*/
button:focus {
    outline:none !important;
}

table {
    width: 100%;
    table-layout:fixed;
}

.k-actions {
    overflow: hidden;
}

.k-actions-buttons {
    padding-bottom: 15px;
}

/* Used for item-add/inventory */
.k-search {
    float: left;
    width: 100%;
}
/* ----------------------------------- */

/* Used for home/dashboard */
.k-float-right {
    float: right;
}

.k-float-left {
    float: left;
}

/* ----------------------- */

.k-center-isolated {
    margin: auto;
    width: 30%;
    margin-top: 200px;
}

.k-text-center {
    text-align: center;
}

.k-center {
    margin: auto;
}

/* ----------------------- */

.loader {
    border: 16px solid #00000000;
    border-radius: 50%;
    border-top: 12px solid rgba(90, 155, 255, 1);
    border-bottom: 12px solid rgba(90, 155, 255, 1);
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}