extends layout

block content
  div(class="py-3 bg-blue-gradient")
    div(class="text-white text-center pt-2")
      h1(class="header-2 mb-1") About Us
      h4(class="lead") Everything you need to know about Kochii
  div(class="container my-3")
    div(class="row p-1")
      div(class="col")
        h4(class="sub-header-1") Who created Kochii?
        p.
          This is a personal open-source project created by
          #[span(class="font-weight-bold") Jeffrey Ram Pineda] as a hobby. 
          It is created with Angular as a frontend framework, Express.js for the 
          backend server, and MongoDB as its database.
        p. 
          Have any questions? Got any suggestions? Fill the form on your
          right or use kochii's primary email 
          #[span(class="font-weight-bold") contact@kochii.app]
        h4(class="sub-header-1 mt-1") What is Kochii?
        p.
          Knowing how to prepare your meals in advance will help you save
          money. Kochii is designed to keep track of busy people's cooking
          ingredients with the intention of assisting and promoting
          home-cooked meals.
        p.
          Through Kochii's upcoming recipe feature, cooking instructions
          can be archived for later use and will reveal to the user which
          recipes he/she can and cannot make in relation to his/her
          recorded inventory.
      div(class="col")
        h2(class="header-3") Contact
        form(method="POST" action="/send")
        div(class="form-group")
          label(class="form-group--label" for="name") Name
          input(class="form-group--control" type="text" name="from_name" id="name" placeholder="Full Name *")
        div(class="form-group")
          label(class="form-group--label" for="email") Email address
          input(class="form-group--control" type="text" name="from_email" id="email" placeholder="Email Address *")
        div(class="form-group")
          label(class="form-group--label" for="body") Message
          textarea(class="form-group--control" type="text" name="body" id="body" rows="7" placeholder="Message" style="resize: none;")
        div(class="row text-center")
          a(class='btn bg-blue-gradient' type="submit") Send