extends layout

block content
  div(class="container d-flex d-flex-justify-center d-flex-align-center" style="height: 100vh")
    div(class="text-center p-1")
      h2(class="header-1")= message_title
      h1(class="header-2")= message_subtitle
      hr
      h4(class="my-1 sub-header-1")= message_description
      a(class='btn bg-blue-gradient shadow' href="/") Go home