table {
    width: 100%;
}

.k-search {
    float: left;
    width: 50%;
}

.k-action-buttons {
    float: right;
}

.k-action-buttons * {
    margin: 0px;
}

.mat-card-actions {
    margin: 0px;
    overflow: hidden;
}

.mat-row:hover {
    background-color: #f6f6f6;
}
