<mat-card class="k-center-isolated">
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
        <mat-card-subtitle>Enter your authentication</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form class="k-card-form" [formGroup]="registerForm">
            <mat-form-field class="k-card-form-field-full">
                <input  matInput 
                        formControlName="username"
                        type="text"
                        placeholder="Username" />
                <mat-error *ngIf="f.username.errors">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                    <div *ngIf="f.username.errors.minlength">Minimum length is 6</div>
                    <div *ngIf="f.username.errors.maxlength">Maximum length is 30</div>
                    <div *ngIf="f.username.errors.pattern">Must only be an alphanumeric, underscore (_), or dash (-)</div>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="k-card-form-field-full">
                <input  matInput 
                        formControlName="password"
                        type="password"
                        placeholder="Password" />
                <mat-error *ngIf="f.password.errors">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Minimum length is 6</div>
                    <div *ngIf="f.password.errors.maxlength">Maximum length is 30</div>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="k-card-form-field-full">
                <input  matInput 
                        formControlName="passwordre"
                        type="password"
                        placeholder="Re-enter Password" />
            </mat-form-field>
            <mat-form-field class="k-card-form-field-full">
                <input  matInput 
                        formControlName="email"
                        type="text"
                        placeholder="Email" />
                <mat-error *ngIf="f.email.errors">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email is invalid</div>
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf="registerForm.hasError('notSame')">
                Passwords do not match
            </mat-error>  
        </form>
  </mat-card-content>
  <mat-card-actions class="k-actions k-text-center">
    <div class="k-actions-buttons">
        <span *ngIf="loading">Loading...</span>
        <mat-error>
            <div *ngIf="error.username">{{ error.username }}</div>
            <div *ngIf="error.password">{{ error.password }}</div>
            <div *ngIf="error.email">{{ error.email }}</div>
        </mat-error>
        <a mat-button href="/">Cancel</a>
        <button type="submit" mat-button [disabled]="registerForm.invalid || loading" (click)="onSubmit()">Register</button>
    </div>
  </mat-card-actions>
</mat-card>