<section id="top">
  <div id="heading">
    <span id="logo">Kochii</span>
    <nav id="menu">
      <button mat-button routerLink="/dashboard">Dashboard</button>
      <button mat-button routerLink="/recipe-archive" disabled>Recipe Archive</button>
      <button mat-button routerLink="/home" fragment="about">About</button>
      <button mat-button routerLink="/home" fragment="contact">Contact</button>
    </nav>
  </div>
</section>
<section>
  <div class="content">
    <h1>Introduction</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown
      printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries,
      but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s with
      the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus
      PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
</section>
<section>
    <div class="content">
      <h1>Recipe Archive</h1>
      <p>
        Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown
        printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries,
        but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with
        the release of Letraset sheets containing Lorem Ipsum passages,
        and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum.
      </p>
    </div>
  </section>
<section id="about">
  <div class="content">
    <h1>About</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown
      printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries,
      but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s with
      the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus
      PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
</section>
<section id="contact">
  <div class="content">
    <h1>Contact</h1>
    <p>
      Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown
      printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries,
      but also the leap into electronic typesetting, remaining
      essentially unchanged. It was popularised in the 1960s with
      the release of Letraset sheets containing Lorem Ipsum passages,
      and more recently with desktop publishing software like Aldus
      PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
</section>