.top {
    height: 100vh;
}

.heading {
    position: absolute;
    top: 38%;
    text-align: center;
    width: 100%;
}

section {
    border-bottom: 1px solid #eee;
}

.k-fixed-top {
    position: fixed;
    width: 100%;
    padding: 32px;
}

.k-content {
    margin: 0 auto;
    max-width: 750px;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
}

.k-side-icons {
    position: fixed;
    margin-top: 128px;
    margin-left: 164px;
}

footer {
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}
