<!-- History -->
<section class="mt-5">

  <!--Grid row-->
  <div class="row">

    <!--History grid column-->
    <div class="col-md-12 mb-4">

      <mdb-card class="cascading-admin-card">

        <!--Card title-->
        <div class="admin-up">
          <div class="admin-title blue-gradient d-sm-flex justify-content-between" style="padding: 1.5rem;">
            <h4 class="my-1 text-white">History</h4>
          </div>
        </div>
        <!--/.Card title-->

        <!--Card content-->
        <mdb-card-body>
          <button mat-button (click)="clear()">Clear</button>
          <div [hidden]="isEmpty() || loading">
            <table mat-table [dataSource]="history">

              <!-- Date Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Recorded at</th>
                <td mat-cell *matCellDef="let row">{{ row.created_at | date }}</td>
              </ng-container>

              <!-- method Column -->
              <ng-container matColumnDef="method">
                <th mat-header-cell *matHeaderCellDef>Method</th>
                <td mat-cell *matCellDef="let row">{{ row.method }}</td>
              </ng-container>

              <!-- target Column -->
              <ng-container matColumnDef="target">
                <th mat-header-cell *matHeaderCellDef>Target</th>
                <td mat-cell *matCellDef="let row">{{ row.target }}</td>
              </ng-container>

              <!-- quantity Column -->
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
              </ng-container>

              <!-- addedDate Column -->
              <ng-container matColumnDef="addedDate">
                <th mat-header-cell *matHeaderCellDef>Added</th>
                <td mat-cell *matCellDef="let row">{{ row.addedDate | date }}</td>
              </ng-container>

              <!-- description Column -->
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let row">{{ row.description }}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </mdb-card-body>

        <!--/.Card content-->
      </mdb-card>
      <!--/.Card-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>