<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">
        <div class="logo-wrapper">
            <p class="text-center text-white">Kochii</p>
        </div>
        <div class="k-sidebar-items">
            <button mat-button class="k-item" routerLink="overview" routerLinkActive="active">
                <mat-icon aria-hidden="false" aria-label="dashboard">dashboard</mat-icon>
                Overview
            </button>
            <button mat-button class="k-item" routerLink="inventory" routerLinkActive="active">
                <mat-icon aria-hidden="false" aria-label="list_alt">list_alt</mat-icon>
                Inventory
            </button>
            <button mat-button class="k-item" routerLink="groceries" routerLinkActive="active">
                <mat-icon aria-hidden="false" aria-label="shopping_basket">shopping_basket</mat-icon>
                Groceries
            </button>
            <button mat-button class="k-item" routerLink="history" routerLinkActive="active">
                <mat-icon aria-hidden="false" aria-label="restore">restore</mat-icon>
                History
            </button>
            <div class="k-navigation-bottom">
                <button mat-button class="k-item" routerLink="settings" routerLinkActive="active">
                    <mat-icon aria-hidden="false" aria-label="settings">settings</mat-icon>
                    Settings
                </button>
            </div>
        </div>
    </div>
    <!-- Sidebar -->

    <!--Navbar-->
    <mat-toolbar class="mat-elevation-z1" style="background-color: white;">
        <button mat-icon-button class="mr-3" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Kochii</span>
        <span class="k-spacer"></span>
        <div class="notification-wrapper">
            <button mat-icon-button aria-label="notifications" (click)="openNotification(!showNotification)">
                <mat-icon>notifications</mat-icon>
            </button>
            <div *ngIf="showNotification" class="notification-content mat-elevation-z1">
                <div class="notification-header">
                    <span class="label">Notifications</span>
                </div>
                <span *ngFor="let notify of notifications">{{ notify }}</span>
            </div>
        </div>
        <button mat-icon-button aria-label="mail">
            <mat-icon>mail</mat-icon>
        </button>
        <button mat-button (click)="logout()">Logout</button>
    </mat-toolbar>
    <!--/.Navbar-->

</header>
<!--Main Navigation-->