.k-sidebar-items * {
  background: transparent;
  border-color: transparent;
  color: #fff;
}

.k-sidebar-items .k-item {
  width: 100%;
  padding: 1.15rem 1.15rem 1.15rem 2rem;
  white-space: normal;
  text-align: left;
}

.k-sidebar-items .k-item:hover {
  background-color: #252a35;
}

.k-sidebar-items .k-item mat-icon {
  margin-right: 1rem;
}

.k-sidebar-items .active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .3);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .3);
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: linear-gradient(40deg, #45cafc, #303f9f);
  width: calc(100% + 10px);
}


.logo-wrapper {
  padding-top: 0.5em;
  width: 100%;
  height: calc(1.5rem + 64px);
}

.logo-wrapper p {
  font-size: 2rem;
  font-weight: lighter;
}

.k-dark-text {
  color: #1C2331;
}

.k-navigation-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.notification-wrapper .notification-content {
  position: absolute;
  top: 40px;
  right: 5px;
  width: 350px;
  height: 200px;
  background-color: whitesmoke;
  z-index: 300;
}

.notification-wrapper .notification-header {
  padding: 10px;
  color: #ffffff;
  background-color: #1C2331;
}

.notification-wrapper .notification-header .label {
  display: inline-block;
  width: 100%;
  font-weight: 500;
}