.k-sidebar-items a {
  display: block;
  padding: 1rem;
  font-weight: 300;
  font-size: .9rem;
  color: #7f918b;
  text-decoration: none;
}

.k-sidebar-items a > * {
  vertical-align: text-top;
}

.k-sidebar-items a:hover {
  color: rgba(255, 255, 255, 1);
}

.k-sidebar-items a mat-icon {
  font-size: 1rem;
}

.k-sidebar-items .active {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
}

.k-sidebar-items .active mat-icon {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}

.k-sidebar-display {
  display: initial;
}

.logo-wrapper {
  width: 100%;
  height: 3rem;
  text-align: center;
}

.logo-wrapper * {
  max-height: 32px;
}