.list-group-item {
  background: transparent;
  border-color: transparent;
  color: #fff;
  padding: 1.15rem 1.15rem 1.15rem 2rem;
}

.list-group-item mdb-icon {
  margin-right: 1rem;
}

.list-group-item:hover {
  background-color: #252a35;
}

.sidebar-fixed .logo-wrapper {
  width: 100%;
  padding: 0.5rem 1.6rem 1.6rem;
  font-size: 2rem;
  font-weight: lighter;
}

.sidebar-fixed .logo-wrapper img {
  max-height: 50px;
}

.k-dark-text {
  color: #1C2331;
}

.k-navigation-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.notification-wrapper {
  padding: 8px 15px;
  float: right;
  border-radius: 5px;
}

.notification-wrapper .notification-btn {
  cursor: pointer;
}

.notification-wrapper .notification-content {
  position: absolute;
  top: 40px;
  right: 5px;
  width: 350px;
  height: 200px;
  background-color: whitesmoke;
  z-index: 300;
}

.notification-wrapper .notification-header {
  padding: 10px;
  color: #ffffff;
  background-color: #1C2331;
}

.notification-wrapper .notification-header .label {
  display: inline-block;
  width: 100%;
  font-weight: 500;
}
