<div class="container">
  <p style='color: white;'>hi</p>
  <nav>
    <button mat-button routerLink="/">Kochii</button>
    <div class="k-float-right">
      <button mat-button (click)="logout()">Logout</button>
    </div>
  </nav>
  <button class="k-dashboard-menu-toggle" mat-button (click)="sidenav.toggle()" [@openClose]="!opened ? 'open' : 'closed'" >Menu</button>
  <hr>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="k-dashboard-menu">
      <button mat-button routerLink="overview">Overview</button>
      <button mat-button routerLink="inventory">Inventory</button>
      <button mat-button routerLink="groceries" disabled>Groceries</button>
      <button mat-button routerLink="settings" disabled>Settings</button>
      <button mat-button routerLink="history">History</button>
      <div class="k-dashboard-menu-bottom">
        <button style='background-color: #f6f6f6;' mat-button (click)="sidenav.toggle()">close menu</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <hr>
  <footer>
    jeffreyrampineda &copy; 2018
  </footer>
</div>