<p><button mat-button (click)="sidenav.toggle()">sidenav.toggle()</button></p>
<div class="container">
  <nav class="nav justify-content-end">
    <button class="navbar-brand" mat-button routerLink="/">Kochii</button>
    <button mat-button>jeffreyrampineda@example.com</button>
  </nav>
  <hr>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="k-dashboard-menu">
      <button mat-button routerLink="overview" disabled>Overview</button>
      <button mat-button routerLink="inventory">Inventory</button>
      <button mat-button routerLink="recipes">Recipe Book</button>
      <button mat-button routerLink="groceries" disabled>Groceries</button>
      <button mat-button routerLink="settings" disabled>Settings</button>
      <button mat-button routerLink="history">History</button>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <hr>
  <footer>
    jeffreyrampineda &copy; 2018
  </footer>
</div>