footer {
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* Used for navigation buttons. */
.k-dashboard-menu {
    width: 200px;
}
.k-dashboard-menu * {
    display: block;
    width: 100%;
}                               
/* ---------------------------- */

/* Overrides default style */
.mat-sidenav-container {
    min-height: 500px;
}

.mat-sidenav-container {
    background-color: white;
}

.mat-sidenav-content {
    padding: 10px;
}
/* ----------------------- */