<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-button routerLink="/">Kochii</button>
      <button mat-button>jeffreyrampineda@example.com</button>
    </mat-toolbar-row>
  </mat-toolbar>
  <hr>
  <div>
    <div>
      <nav>
        <button mat-button routerLink="overview">Overview</button>
        <button mat-button routerLink="inventory">Inventory</button>
        <button mat-button routerLink="recipes">Recipe Book</button>
        <button mat-button routerLink="groceries">Groceries</button>
        <button mat-button routerLink="settings">Settings</button>
        <button mat-button routerLink="history">History</button>
      </nav>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <hr>
</div>
<footer>
  jeffreyrampineda &copy; 2018
</footer>