<!--Footer-->
<footer [class]="className">

    <!--Copyright-->
    <small style="text-align: center;">
        <a href="https://www.kochii.app/legal/terms-of-service" target="_blank">Terms of Service</a>
        &nbsp;|&nbsp;
        <a href="https://www.kochii.app/legal/privacy-policy" target="_blank">Privacy Policy</a>
        &nbsp;|&nbsp;
        <a href="https://www.kochii.app/#contact" target="_blank">Contact us</a>
        <p>Kochii &copy; 2020 All Rights Reserved</p>
    </small>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->