<mat-card class="k-center-isolated">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Enter your authentication</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form class="k-card-form" [formGroup]="loginForm">
            <mat-form-field class="k-card-form-field-full">
                <input  matInput 
                        formControlName="username"
                        type="text"
                        placeholder="Username" />
                <mat-error *ngIf="f.username.errors">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="k-card-form-field-full">
                <input  matInput 
                        formControlName="password"
                        type="password"
                        placeholder="Password" />
                <mat-error *ngIf="f.password.errors">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions class="k-actions k-text-center">
        <div class="k-actions-buttons">
            <span *ngIf="loading">Loading...</span>
            <mat-error>
                <div *ngIf="error.login">{{ error.login }}</div>
            </mat-error>
            <button mat-button routerLink="/home">Cancel</button>
            <button mat-button routerLink="/register">Register</button>
            <button type="submit" mat-button [disabled]="loginForm.invalid || loading" (click)="onSubmit()">Login</button>
        </div>
    </mat-card-actions>
</mat-card>