.k-border-left {
  border-left: 4px solid #aaa;
}

.k-data-title {
  color: #aaa;
  font-size: 0.9rem;
  font-weight: 500;
}

.k-data-value {
  color: #666;
  font-size: 1.5rem;
  font-weight: 500;
}
