<div class="card shadow-sm mt-3 k-border-left">
  <div class="card-body">
    <div class="row no-gutters">
      <div class="col mr-2 k-data">
        <div class="k-title">{{ title }}</div>
        <div class="k-value">{{ value }}</div>
      </div>
      <div class="col-auto">
        <button
          class="k-gauge-icon"
          mat-icon-button
          disabled
          [color]="color"
          aria-label="icon"
        >
          <mat-icon>{{ icon }}</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
