.k-border-left {
  border-left: 4px solid #aaa;
}

.k-data .k-title {
  color: #aaa;
  font-size: 0.8rem;
  font-weight: 500;
}

.k-data .k-value {
  color: #555;
  font-size: 1.5rem;
  font-weight: 500;
}

.k-gauge-icon {
  width: 3rem;
  height: 3rem;
}

.k-gauge-icon .mat-icon {
  font-size: 2.5rem;
}
