<mat-card *ngIf="recipe">
  <mat-card-header>
    <mat-card-title>{{ recipe.title }} details</mat-card-title>
    <mat-card-subtitle>{{ recipe.description }}</mat-card-subtitle>
    <button mat-button (click)="cook()">Cook</button>
    <button mat-button (click)="goBack()">go back</button>
  </mat-card-header>
  <mat-card-content dynamicHeight>
    <mat-tab-group>
      <mat-tab label="Instructions">
        <div>
          Tags
          <ul>
            <li *ngFor="let tag of recipe.tags">{{ tag }}</li>
          </ul>
          Ingredients
          <ul>
            <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }} - {{ ingredient.quantity }}</li>
          </ul>
          Steps
          <ul>
            <li *ngFor="let step of recipe.steps">{{ step }}</li>
          </ul>
        </div>
      </mat-tab>
      <mat-tab label="Nutrition Facts">
        <div>
          TODO: Nutrition facts
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
