.mat-column-date {
  width: 150px;
}

.mat-column-method {
  width: 150px;
}

.mat-column-target {
  width: 150px;
}

.mat-column-quantity {
  width: 100px;
}

.mat-column-addedDate {
  width: 100px;
}
