<kochii-presentation-container title="Add Item">

  <!--Title prepend-->
  <span prepend><a routerLink="/app/inventory" style="text-decoration: none;">Inventory </a> / </span>
  <!--/.Title prepend-->

  <!--Actions-->
  <div actions class="d-sm-flex justify-content-between">
    <mat-form-field>
      <mat-select [value]="selectedFormIdx" (selectionChange)="selectForm($event)">
        <mat-option *ngFor="let iform of itemAddForm; let idx = index" [value]="idx">{{ iform.value.name }}</mat-option>
        <mat-option value="-1">Add more</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button (click)="onSubmit()" [disabled]="checkIfInvalid()">Save all</button>
  </div>
  <!--/.Actions-->

  <!--Content-->
  <!--Grid row-->
  <div class="row">

    <!--Form grid column-->
    <div class="col-md-6 mb-4">
      <form class="k-item-add-form" [formGroup]="itemAddForm[selectedFormIdx]">
        <!-- Grid row -->
        <div class="form-row">

          <!-- Grid column -->
          <div class="col-md-12">
            <!-- Name -->
            <mat-form-field class="mt-3" style="width: 100%;">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" type="text" placeholder="Name"
                (keyup)="searchTerm.next($event.target.value)" [matAutocomplete]="auto" />
              <mat-error *ngIf="f.name.errors">
                <div *ngIf="f.name.errors.required">Name is required</div>
                <div *ngIf="f.name.errors.minlength">Minimum length is 2</div>
                <div *ngIf="f.name.errors.maxlength">Maximum length is 30</div>
                <div *ngIf="f.name.errors.pattern">Must only be an alphanumeric, space ( ), underscore (_), or
                  dash
                  (-)</div>
              </mat-error>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let item of existingItems | slice:0:9" [value]="item.name">
                  {{ item.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <!-- Grid column -->
          <div class="col-md-6">
            <!-- Cost -->
            <mat-form-field class="mt-3" style="width: 100%;">
              <mat-label>Cost</mat-label>
              <span matPrefix>$ &nbsp;</span>
              <input matInput formControlName="cost" type="text" placeholder="Ex. 0.20" />
              <mat-error *ngIf="f.cost.errors">
                <div *ngIf="f.cost.errors.required">Cost is required</div>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Grid column -->
          <div class="col-md-6">
            <!-- Quantity -->
            <mat-form-field class="mt-3" style="width: 100%;">
              <mat-label>Quantity</mat-label>
              <span matPrefix>x &nbsp;</span>
              <input matInput formControlName="quantity" type="text" placeholder="Ex. 1" />
              <mat-error *ngIf="f.quantity.errors">
                <div *ngIf="f.quantity.errors.required">Quantity is required</div>
                <div *ngIf="f.quantity.errors.min">Minimum quantity is 1</div>
                <div *ngIf="f.quantity.errors.max">Maximum quantity is 999</div>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Grid column -->
          <div class="col-md-12">
            <!-- Group -->
            <mat-form-field style="width: 100%;">
              <mat-label>Select a group</mat-label>
              <mat-select formControlName="group">
                <mat-option *ngFor="let group of groups" [value]="group">{{ group }}</mat-option>
              </mat-select>
              <mat-error *ngIf="f.group.errors">
                <div *ngIf="f.group.errors.required">Group is required</div>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Grid column -->
          <div class="col-md-6">
            <!-- AddedDate field -->
            <mat-form-field style="width: 100%;">
              <mat-label>Added date</mat-label>
              <input matInput formControlName="addedDate" placeholder="Added Date" [matDatepicker]="picker" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="f.addedDate.errors">
                <div *ngIf="f.addedDate.errors.required">Added date is required</div>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Grid column -->
          <div class="col-md-6">
            <!-- ExpirationDate -->
            <mat-form-field style="width: 100%;">
              <mat-label>Expiration date</mat-label>
              <input matInput formControlName="expirationDate" placeholder="Expiration Date"
                [matDatepicker]="picker2" />
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error *ngIf="f.expirationDate.errors">
                <div *ngIf="f.expirationDate.errors.required">Expiration date is required</div>
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Grid column -->
          <div class="col-md-12">
            <button mat-button *ngIf="selectedFormIdx != 0" (click)="removeInput(selectedFormIdx)">Remove</button>
          </div>
        </div>
      </form>
    </div>
    <!--Grid column-->

    <!--Image grid column-->
    <div class="col-md-6 mb-4">

      <!--Image-->
      <div class="mat-elevation-z2">
        <img [src]="placeholderImage">
      </div>
      <!--/.Image-->

    </div>
    <!--Image grid column-->

  </div>
  <!--Grid row-->
  <!--/.Content-->

</kochii-presentation-container>