<mat-card>
  <mat-card-header>
    <mat-card-title>add item</mat-card-title>
    <mat-card-subtitle>add item quick description</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="form-container">
        <mat-form-field>
            <input matInput placeholder="Name" (keyup)="searchTerm$.next($event.target.value)" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let result of results | slice:0:9" [value]="result.name">
                {{ result.name }}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="number" placeholder="Quantity" [(ngModel)]="itemModel.quantity">
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date Added" [(ngModel)]="itemModel.addedDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker2" placeholder="Expiration Date" [(ngModel)]="itemModel.expirationDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="addItem()">Add</button>
  </mat-card-actions>
</mat-card>