table {
    width: 100%;
    table-layout:fixed;
}

.k-search {
    float: left;
    width: 50%;
}

.k-action-buttons {
    float: right;
}

.k-action-buttons * {
    margin: 0px;
}

.mat-column-select {
    width: 100px;
}

.mat-card-actions {
    margin: 0px;
    overflow: hidden;
}