<mat-card class="k-card k-center-isolated">
    <mat-card-header>
        <mat-card-title>Register</mat-card-title>
        <mat-card-subtitle>Enter your authentication</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form class="k-card-form" [formGroup]="registerForm">
            <mat-form-field class="k-card-form-field-full">
                <input  matInput 
                        formControlName="username"
                        type="text"
                        placeholder="Username" />
                <mat-error *ngIf="f.username.errors">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="k-card-form-field-full">
                <input  matInput 
                        formControlName="password"
                        type="password"
                        placeholder="Password" />
                <mat-error *ngIf="f.password.errors">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="k-card-form-field-full">
                <input  matInput 
                        formControlName="passwordre"
                        type="password"
                        placeholder="Re-enter Password" />
            </mat-form-field>
            <mat-error *ngIf="registerForm.hasError('notSame')">
                Passwords do not match
            </mat-error>  
        </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="k-card-actions">
        <span *ngIf="loading">Loading...</span>
        <mat-error>
            <div *ngIf="error">{{ error }}</div>
        </mat-error>
        <button mat-button routerLink="/home">Cancel</button>
        <button type="submit" mat-button [disabled]="registerForm.invalid || loading" (click)="onSubmit()">Register</button>
    </div>
  </mat-card-actions>
</mat-card>