<!-- Form -->
<form class="shadow-sm bg-white p-5 k-center-isolated" [formGroup]="registerForm"
    (ngSubmit)="onSubmit(registerForm.value)">
    <img alt="Kochii logo" [src]="imgLogo" style="height: 64px; display:block; margin-right: auto; margin-left: auto;">
    <h4 class="my-4 text-center">Register</h4>

    <!-- accountName -->
    <mat-form-field style="width: 100%;">
        <input matInput formControlName="accountName" type="text" placeholder="Account Name" />
        <mat-error *ngIf="f.accountName.errors">
            <div *ngIf="f.accountName.errors.required">Account name is required</div>
            <div *ngIf="f.accountName.errors.minlength">Minimum length is 6</div>
            <div *ngIf="f.accountName.errors.maxlength">Maximum length is 30</div>
            <div *ngIf="f.accountName.errors.pattern">Must only be an alphanumeric, underscore (_), or dash (-)</div>
        </mat-error>
    </mat-form-field>

    <!-- Password -->
    <mat-form-field style="width: 100%;">
        <input matInput formControlName="password" type="password" placeholder="Password" />
        <mat-error *ngIf="f.password.errors">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Minimum length is 6</div>
            <div *ngIf="f.password.errors.maxlength">Maximum length is 30</div>
        </mat-error>
    </mat-form-field>

    <!-- Password repeat -->
    <mat-form-field style="width: 100%;">
        <input matInput formControlName="passwordre" type="password" placeholder="Re-enter Password" />
    </mat-form-field>

    <!-- Email -->
    <mat-form-field style="width: 100%;">
        <input matInput formControlName="email" type="text" placeholder="Email" />
        <mat-error *ngIf="f.email.errors">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.email">Email is invalid</div>
        </mat-error>
    </mat-form-field>

    <!-- Messages -->
    <div class="text-center mt-4">
        <p *ngIf="loading">Loading...</p>
        <p *ngIf="error.accountName" class="text-danger">{{ error.accountName }}</p>
        <p *ngIf="error.password" class="text-danger">{{ error.password }}</p>
        <p *ngIf="error.email" class="text-danger">{{ error.email }}</p>
        <p *ngIf="registerForm.hasError('notSame')" class="text-danger">Passwords do not match</p>
    </div>

    <!-- Register button -->
    <button mat-raised-button type="submit" class="btn-block my-4 k-button-primary">Register</button>

    <!-- Login link -->
    <div class="text-center">
        <p>Already a member? <a routerLink="/login">Login</a></p>
    </div>
</form>
<!-- Form -->

<!--Footer-->
<kochii-footer></kochii-footer>
<!--/Footer-->