<mat-card>
  <mat-card-header>
    <mat-card-title>Add Items</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <div class="k-actions-buttons">
      <button mat-button (click)="onSubmit()" [disabled]="checkIfInvalid()">Add</button>
    </div>
  </mat-card-actions>
  <mat-card-content>
    <mat-tab-group [selectedIndex]="itemAddForm.length - 1">
      <mat-tab *ngFor="let iform of itemAddForm" [label]="iform.value.name">
        <form class="k-item-add-form" [formGroup]="iform">

          <!-- name field -->
          <mat-form-field class="k-card-form-field-full">
              <input  matInput 
                      formControlName="name"
                      type="text"
                      placeholder="Name"
                      (keyup)="searchTerm$.next($event.target.value)" 
                      [matAutocomplete]="auto" />
              <mat-error *ngIf="f.name.errors">
                <div *ngIf="f.name.errors.required">Name is required</div>
              </mat-error>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let result of results | slice:0:9" [value]="result.name">
                  {{ result.name }}
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>

          <!-- quantity field -->
          <mat-form-field class="k-card-form-field-full">
              <input  matInput
                      formControlName="quantity"
                      type="number"
                      placeholder="Quantity" />
              <mat-error *ngIf="f.quantity.errors">
                <div *ngIf="f.quantity.errors.required">Quantity is required</div>
              </mat-error>
          </mat-form-field>

          <!-- quantityType field -->
          <mat-form-field class="k-card-form-field-full">
              <input  matInput 
                      formControlName="quantityType"
                      type="text"
                      placeholder="Quantity Type" />
              <mat-error *ngIf="f.quantityType.errors">
                <div *ngIf="f.quantityType.errors.required">Quantity type is required</div>
              </mat-error>
          </mat-form-field>

          <!-- addedDate field -->
          <mat-form-field class="k-card-form-field-full">
              <input  matInput
                      formControlName="addedDate"
                      placeholder="Added Date"
                      [matDatepicker]="picker" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <!-- expiration field -->
          <mat-form-field class="k-card-form-field-full">
              <input  matInput
                      formControlName="expirationDate"
                      placeholder="Expiration Date"
                      [matDatepicker]="picker2" />
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <!-- group field -->
          <mat-form-field class="k-card-form-field-full">
            <mat-label>Select a group</mat-label>
            <mat-select formControlName="group">
              <mat-option *ngFor="let group of localGroups" [value]="group.name">{{ group.name }}</mat-option>
            </mat-select>
            <mat-error *ngIf="f.group.errors">
              <div *ngIf="f.group.errors.required">Group is required</div>
            </mat-error>
          </mat-form-field>
        </form>
        <button mat-icon-button *ngIf="iform != itemAddForm[0]" (click)="removeInput(itemAddForm.indexOf(iform))"><mat-icon>clear</mat-icon></button>
      </mat-tab>
      <mat-tab disabled>
          <ng-template mat-tab-label>
              <button mat-icon-button (click)="addMoreInput()">
                  <mat-icon>add_circle</mat-icon>
              </button>
          </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>