<h2 class="text-2xl font-light my-4">Overview</h2>

<div class="grid md:grid-cols-12 gap-4">
  <!--Inventory size grid column-->
  <app-gauge-card
    class="md:col-span-3"
    icon="pie_chart"
    color="#3e485d"
    title="Inventory Size"
    [value]="itemTotal.toString()"
    change="+ 0"
  ></app-gauge-card>
  <!--/.Inventory size grid column-->

  <!--Expired items grid column-->
  <app-gauge-card
    class="md:col-span-3"
    icon="delete_sweep"
    color="#f44336"
    title="Expired Items"
    [value]="numberOfExpired.toString()"
    change="+ 0"
  >
  </app-gauge-card>
  <!--/.Expired items grid column-->

  <!--Weekly spent grid column-->
  <app-gauge-card
    class="md:col-span-3"
    icon="payment"
    color="#3e485d"
    title="Weekly Expenses"
    [value]="weeklySpent.toString()"
    change="+ 0.00"
  >
  </app-gauge-card>
  <!--/.Weekly spent grid column-->

  <!--Weekly removed grid column-->
  <app-gauge-card
    class="md:col-span-3"
    icon="show_chart"
    color="#3e485d"
    title="Items Removed"
    [value]="quantityRemovedThisWeek().toString()"
    change="+ 0"
  >
  </app-gauge-card>
  <!--/.Weekly removed grid column-->

  <!--Bar chart grid column-->
  <div
    class="md:col-span-8 p-4 mat-elevation-z2 bg-white hover:shadow hover:cursor-pointer"
  >
    <h5 class="text-xl my-4">Inventory</h5>
    <div class="p-2" style="height: 40vh">
      <canvas id="chart-line" #canvasLine>{{ lineChart }}</canvas>
    </div>
  </div>
  <!--/.Bar chart grid column-->

  <!--Doughnut chart grid column-->
  <div
    class="md:col-span-4 p-4 mat-elevation-z2 bg-white hover:shadow hover:cursor-pointer"
  >
    <h5 class="text-xl my-4">Status</h5>
    <div class="p-2" style="height: 40vh">
      <canvas id="chart-doughnut">{{ doughnutChart }}</canvas>
    </div>
  </div>
  <!--/.Doughnut chart grid column-->

  <!--Activities grid column-->
  <div
    class="md:col-span-12 p-4 mat-elevation-z2 bg-white hover:shadow hover:cursor-pointer"
  >
    <h5 class="text-xl my-4">Activity Log</h5>
    <div class="p-2" [hidden]="activities?.length === 0 || loadingActivities">
      <table mat-table [dataSource]="activities">
        <!-- Date Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef>Recorded at</th>
          <td mat-cell *matCellDef="let row">
            {{ row.created_at | date }}
          </td>
        </ng-container>

        <!-- method Column -->
        <ng-container matColumnDef="method">
          <th mat-header-cell *matHeaderCellDef>Method</th>
          <td mat-cell *matCellDef="let row">{{ row.method }}</td>
        </ng-container>

        <!-- target Column -->
        <ng-container matColumnDef="target">
          <th mat-header-cell *matHeaderCellDef>Target</th>
          <td mat-cell *matCellDef="let row">{{ row.target }}</td>
        </ng-container>

        <!-- quantity Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity</th>
          <td mat-cell *matCellDef="let row">{{ row.quantity }}</td>
        </ng-container>

        <!-- addedDate Column -->
        <ng-container matColumnDef="addedDate">
          <th mat-header-cell *matHeaderCellDef>Added</th>
          <td mat-cell *matCellDef="let row">{{ row.addedDate | date }}</td>
        </ng-container>

        <!-- description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let row">{{ row.description }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
  <!--/.Activities grid column-->
</div>
