@use '@angular/material' as mat;

@include mat.core();

$kochii-blue: (
  50: #3e485d,
  100: #3e485d,
  200: #3e485d,
  300: #3e485d,
  400: #2e3748,
  500: #2e3748,
  600: #2e3748,
  700: #1c2331,
  800: #1c2331,
  900: #1c2331,
  contrast: (
    700: white,
    800: white,
    900: white,
  )
);

$kochii-primary: mat.define-palette($kochii-blue, 900);
$kochii-accent: mat.define-palette($kochii-blue, 200, 300, 400);

$kochii-theme: mat.define-light-theme((
  color: (
    primary: $kochii-primary,
    accent: $kochii-accent,
  )
));

@include mat.all-component-themes($kochii-theme);

$kochii-primary-color: mat.get-color-from-palette($kochii-primary);