/* You can add global styles to this file, and also import other style files */
@import './kochii-theme.scss';

.skinny {
    font-weight: 300;
}

.mat-menu-panel {
    width: 250px;
}

.mat-row:hover {
    background-color: #f6f6f6;
}

/* Removes the dotted lines around button. Bootstrap causes this.*/
button:focus {
    outline: none !important;
}

table {
    width: 100%;
    table-layout: fixed;
}

.k-spacer {
    flex: 1 1 auto;
}

.k-button-primary {
    background-color: $kochii-primary-color;
    color: white;
}

/* Used for item-add/inventory */
.k-search {
    float: left;
    width: 100%;
}

/* ----------------------------------- */

/* Used for home/dashboard */
.k-float-right {
    float: right;
}

/* ----------------------- */

.k-center-isolated {
    margin: auto;
    max-width: 400px;
    margin-top: 5vh;
}

/* ----------------------- */

.loader {
    border: 16px solid #00000000;
    border-radius: 50%;
    border-top: 12px solid rgba(90, 155, 255, 1);
    border-bottom: 12px solid rgba(90, 155, 255, 1);
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*------------*/

/* You can add global styles to this file, and also import other style files */
html {
    /* prevent scrollbar from repositioning the page */
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
    background-color: #eee;
}

hr {
    background-color: rgba(255, 255, 255, .1);
}

a {
    outline: none;
}

.sidebar-fixed {
    height: 100vh;
    width: 240px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    z-index: 1050;
    background-color: $kochii-primary-color;
    padding: 1rem;
}

@media (min-width: 1200px) {

    .navbar,
    .page-footer,
    main {
        padding-left: 240px;
    }

}

@media (max-width: 1199.98px) {
    .sidebar-fixed {
        display: none;
    }

}

// Medium devices (tablets, 768px and up)
@media (max-width: 992px) {}